/DogGenetics/target/
/ProjectGutenburg/target/
/CommentingCode/target/
/AllTheMaths/target/
/Week 1/RockPaperScissors2/target/
/Week_1/Basic Programming Concepts/DogGenetics/target/
/Week_1/Practice Problems/CommentingCode/target/
/Week_1/Practice Problems/ProjectGutenburg/target/
/Week_1/RockPaperScissors2/target/
/Week_1/RockPaperScissors/target/
/Week_1/Basic_Programming_Concepts/SummativeArray/target/
/Week_1/Practice_Problems/InABucket/nbproject/private/
/Week_2/Practice_Problems/ClassRoster/target/
/Week_2/DVD_Library/DVDLibrary/target/
/Week_3/Practice_Problems/Section03UnitTests/nbproject/
/Week_3/Practice_Problems/Section03UnitTests/target/
/Week_3/Practice_Problems/DaysUntilFriday/target/
/Week_2/Practice_Problems/ClassRoster/nbproject/
/Week_3/VendingMachine/VendingMachine/nbproject/
/Week_3/VendingMachine/VendingMachine/target/
/Week_4/ClassRoster-Spring/nbproject/
/Week_4/ClassRoster-Spring/target/
/Week_5/Flooring_Mastery/flooringMastery/target/
/Week_1/Practice_Problems/InterestCalculator/target/
/Week_2/Practice_Problems/StateCapitals1/target/
/Week_2/Practice_Problems/CheckerboardIO/target/
/Week_2/Practice_Problems/ClassRoster2/target/
/Week_2/Practice_Problems/AddressBook/target/
/Week_2/DVDLibrary2/target/
/Week_3/Practice_Problems/ClassRosterServiceLayer2/target/
/Week_3/Practice_Problems/Section03Unittests/nbproject/
/Week_3/Practice_Problems/Section03Unittests/target/
/Week_3/VendingMachine2/nbproject/
/Week_3/VendingMachine2/target/